In [ ]:
# Pandas
# Data Structure
# 1. Series 1차원
# 2. DataFrame 2차원
# 3. Panel 3차원


# index, columns
# index(axis = 0), columns(axis = 1)

In [1]:
import pandas as pd

In [2]:
# Series (Size - Immutable : 바꿀수없음)
s = pd.Series()
s

Series([], dtype: float64)

In [16]:
import numpy as np
import pandas as pd
data = np.array(['a', 'b', 'c', 'd'])
s1 = pd.Series(data)
s1
s2 = pd.Series(data, index = [100, 101, 102, 103])
s2
data2 = {'a':0, 'b':1, 'c':2, 'd':3}
s3 = pd.Series(data2)
s3
s4 = pd.Series(data2, index=['b', 'a', 'c', 'e']) # index값으로 찾아서 Series에 넣어줌
s4
print(s4[0])
print(s4['b'])
s4[:3]
s4[1:]
s4[-3:]
s4[['a', 'b']]

1.0
1.0

a    0.0
b    1.0
dtype: float64

In [22]:
# DataFrame (Size - Mutable) / 2차원
# cloumn별 다른 데이터타입 가능
# 행과 열의 operation 가능
# -> List, dict, Series, Numpy narrays, ...dataframe

import pandas as pd
df = pd.DataFrame()
df
data = [1,2,3,4,5,6]
df2 = pd.DataFrame(data)
df2
data2 = [['Tom', 2000], ['John', 3000], ['Amy', 5000]]
df3 = pd.DataFrame(data2)
df3
# df4 = pd.DataFrame(data2, columns = ['Name', 'Salary'])
# df4
df4 = pd.DataFrame(data2, 
                   index = ['one', 'two', 'three'],
                   columns = ['Name', 'Salary'], dtype = float)
df4

       Name  Salary
one     Tom  2000.0
two    John  3000.0
three   Amy  5000.0

In [24]:
data3 = {'Name':['a', 'b', 'c'], 'Salary':['100','200','300']}
df5 = pd.DataFrame(data3)
df5

  Name Salary
0    a    100
1    b    200
2    c    300

In [40]:
data4 = {'one':pd.Series([1,2,3], index = ['a', 'b', 'c']),
         'two':pd.Series([1,2,3,4], index = ['a','b','c','d'])}
df6 = pd.DataFrame(data4)
df6
df6['one'] # column select
df6['two']
df6['three'] = pd.Series([10,20,30], index = ['b', 'c', 'd'])
df6
df6['four'] = df6['one'] + df6['two']
df6
del df6['one'] # column만 가능
df6

   two  three  four
a    1    NaN   2.0
b    2   10.0   4.0
c    3   20.0   6.0
d    4   30.0   NaN

In [48]:
# index, label / row select
# label --> loc 
# index --> iloc
df6['two']
df6.loc['a']
d = df6.iloc[1]
type(d) # Series
d2 = pd.DataFrame(d)
type(d2) # DataFrame

pandas.core.frame.DataFrame

In [56]:
# append : DF를 서로 붙인다.
df7 = pd.DataFrame([[1,2], [3,4]], columns=['a','b'])
df8 = pd.DataFrame([[5,6], [7,8]], columns=['a','b'])
df9 = df7.append(df8)
df9
df10 = df9.drop(0) # index가 1 인 행 삭제

In [68]:
# Panel 3차원
# 많이 쓰이지 않음

import pandas as pd
import numpy as np
data = np.random.randn(2,4,5)
type(data)

df11 = pd.Panel(data)
df11

data2 = {
    'one':pd.DataFrame(np.random.randn(4,3)),
    'two':pd.DataFrame(np.random.randn(4,2))
}

df12 = pd.Panel(data2)
type(df12['two']) # DataFrame 형태로 출력
print(df12['one'])
print(df12['two'])

          0         1         2
0  1.961121 -0.272251  1.133831
1  1.745891  0.201537 -1.537761
2 -0.897259 -0.421183 -0.248554
3  0.282518  0.231514 -0.835070
          0         1   2
0 -0.880039 -0.238373 NaN
1  0.954456  1.313157 NaN
2  1.112039  0.645656 NaN
3 -0.167417  0.630051 NaN

In [80]:
# Panda 기본 속성
import numpy as np
import pandas as pd
s = pd.Series(np.random.randn(4))
type(s)

s.axes # index 범위
s.empty # 비어있는 지
s.ndim # 차원확인
s.size # 크기
type(s)
type(s.values)

numpy.ndarray

In [97]:
data5 = [[1,2], [3,4]]
df20 = pd.DataFrame(data5)
df20
df20.dtypes # 데이터 타입
df20.ndim
df20.size
df20.shape # 모양
df20.values # 값
df20.describe()

              0         1
count  2.000000  2.000000
mean   2.000000  3.000000
std    1.414214  1.414214
min    1.000000  2.000000
25%    1.500000  2.500000
50%    2.000000  3.000000
75%    2.500000  3.500000
max    3.000000  4.000000

In [99]:
# element wise function
df20
df20[0].map(lambda x:x* 100)

0    100
1    300
Name: 0, dtype: int64

In [108]:
df21 = pd.DataFrame(np.random.randn(10, 3), columns = ['col1', 'col2', 'col3'])
df22 = pd.DataFrame(np.random.randn(7, 3), columns = ['col1', 'col2', 'col3'])
df23 = df21.reindex_like(df22)
df23 = df23.rename(columns = {'col1':'cl1', 'col2':'cl2', 'col3':'cl3'},
                   index = {0:'one', 1:'two'}) # inplace = True
df23

          cl1       cl2       cl3
one  0.576980  0.938435  2.711554
two  1.159197 -0.689928 -0.410205
2    0.096096 -0.054676  0.228006
3    0.916695 -0.000284  1.015177
4    1.927700  0.295851  0.085050
5    1.092866  0.355560  0.011507
6   -0.845507 -0.713080 -0.481810