In [51]:
#!/usr/bin/python3

# python test.py

test = '''aaa
Multiple Commnet
bbb
ccc'''

print(test)

aaa
Multiple Commnet
bbb
ccc

In [14]:
# Variable Types
count = 100
miles = 100.0
name = "Tom"

a = b = c = 1
print(a, b, c)
a, b, c = 1, 2, 3
print(a, b, c)

1 1 1
1 2 3

In [15]:
# Standard Data Types
# Numbers
# String
# List
# Tuple
# Dictionary

del a # 변수 삭제

# Numberic Types => int, float, complex
# int => 10
# float => 10.0
# complex => 3.14j

In [20]:
# String
str = "Hello Python"
print(str * 2)
print(str + "Test")
print(str[:-1])

Hello PythonHello Python
Hello PythonTest
Hello Pytho

In [56]:
# List
li = ['a', 'b']
print(list * 2)
list2 = ['c', 'd']
print(list + list2)
list[0] = 'f'
print(list)

['f', 'b', 'f', 'b']
['f', 'b', 'c', 'd']
['f', 'b']

In [25]:
# Tuple
tuple = (1, "2", "test") # 수정 안됨
print(tuple)
# tuple[0] = 100 # error

(1, '2', 'test')

In [33]:
# Dictionary
dict = {} # Key : Value
dict["one"] = 'This is one'
dict["two"] = 'This is two'
print(dict)
print(dict["one"])
print(dict.keys())
print(dict.values())

{'one': 'This is one', 'two': 'This is two'}
This is one
dict_keys(['one', 'two'])
dict_values(['This is one', 'This is two'])

In [ ]:
# Data Conversion
# set, dict, str, int, float, repr, eval, tuple

In [ ]:
# Basic Operators
# Arithmetic Operator
# +, --, *, /, %, **, 
# Comparison Operator
# ==, !=, >, <, >=, <=
# Assignment Operator
# =, +=, -=, *=, **=
# Logical Operator
# and, or, not
# Membership Operator
# in, not in
# Identity Operator

In [37]:
# Decision Making
if b:
    print('b')
elif c:
    print('c')
else:
    print('d')

b

In [41]:
# Loop
a = 2
while a:
    print("Count :", a)
    a -= 1

Count : 2
Count : 1

In [43]:
count = 0
while count < 5:
    print(count, "is less then 5")
    count = count + 1
else:
    print(count, "is not less then 5")

0 is less then 5
1 is less then 5
2 is less then 5
3 is less then 5
4 is less then 5
5 is not less then 5

In [7]:
range(10)
list(range(10))

for letter in "Python":
    print(letter, end = " ")
fruits = ['banana', 'apple', 'mange']
for fruit in fruits:
    print(fruit, end = " ")
for index in range(len(fruits)):
    print(fruits[index], end = " ")

P y t h o n banana apple mange banana apple mange

In [12]:
numbers = [11,21,10,123,11,123,15,11,151,515,15,15,15]
for num in numbers:
    if num %2 == 0:
        print("num :", num)
        break
else:
    print("Exception")

num : 10

In [46]:
import time
print(time.localtime())
localtime = time.localtime(time.time())
print(localtime)

time.struct_time(tm_year=2019, tm_mon=7, tm_mday=1, tm_hour=11, tm_min=24, tm_sec=4, tm_wday=0, tm_yday=182, tm_isdst=0)
time.struct_time(tm_year=2019, tm_mon=7, tm_mday=1, tm_hour=11, tm_min=24, tm_sec=4, tm_wday=0, tm_yday=182, tm_isdst=0)

In [18]:
# Functions
def printTest(str):
    print(str)
    return

printTest("Hello Python Function")
print("End")

Hello Python Function
End

In [21]:
def changeme(mylist):
    print(mylist)
    mylist[2] = 50
    print(mylist)
    return

mylist = [10, 20, 30]
changeme(mylist)

[10, 20, 30]
[10, 20, 50]

In [30]:
def printinfo(name, age):
    print(name)
    print(age)
    return

printinfo(name = "이순신", age = 30)

def printinfo2(arg1, *vartuple): # *가변인자 파라미터
    print("arg1 :", arg1)
    for var in vartuple:
        print("var :", var)
    return 

printinfo2(10)
printinfo2(10,20,30)

sum = lambda arg1, arg2: arg1 + arg2
print(sum(1,2))

def add_num(arg1, arg2):
    return arg1 + arg2

a = add_num(1,2)
print(a)

이순신
30
arg1 : 10
arg1 : 10
var : 20
var : 30
3
3