In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [47]:
df = pd.read_csv('mammographic_masses.data.txt', names = ['BI-RADS', 'Age', 'Shape', 'Margin', 'Density', 'Severity'])

In [48]:
df.head()

  BI-RADS Age Shape Margin Density  Severity
0       5  67     3      5       3         1
1       4  43     1      1       ?         1
2       5  58     4      5       3         1
3       4  28     1      1       3         0
4       5  74     1      5       ?         1

In [38]:
df.columns

Index(['5', '67', '3', '5.1', '3.1', '1'], dtype='object')

In [25]:
df.columns = [['BI-RADS', 'Age', 'Shape', 'Margin', 'Density', 'Severity']]

In [49]:
df.head()

  BI-RADS Age Shape Margin Density  Severity
0       5  67     3      5       3         1
1       4  43     1      1       ?         1
2       5  58     4      5       3         1
3       4  28     1      1       3         0
4       5  74     1      5       ?         1

In [69]:
df.replace('?', None, inplace = True)

BI-RADS     None
Age         None
Shape       None
Margin      None
Density     None
Severity    None
dtype: object

In [73]:
df.isnull().sum()

BI-RADS     0
Age         0
Shape       0
Margin      0
Density     0
Severity    0
dtype: int64

In [72]:
df.head()

  BI-RADS Age Shape Margin Density  Severity
0       5  67     3      5       3         1
1       4  43     1      1    None         1
2       5  58     4      5       3         1
3       4  28     1      1       3         0
4       5  74     1      5    None         1

In [74]:
df.isnull()

     BI-RADS    Age  Shape  Margin  Density  Severity
0      False  False  False   False    False     False
1      False  False  False   False    False     False
2      False  False  False   False    False     False
3      False  False  False   False    False     False
4      False  False  False   False    False     False
5      False  False  False   False    False     False
6      False  False  False   False    False     False
7      False  False  False   False    False     False
8      False  False  False   False    False     False
9      False  False  False   False    False     False
10     False  False  False   False    False     False
11     False  False  False   False    False     False
12     False  False  False   False    False     False
13     False  False  False   False    False     False
14     False  False  False   False    False     False
15     False  False  False   False    False     False
16     False  False  False   False    False     False
17     False  False  False   False    False     False
18     False  False  False   False    False     False
19     False  False  False   False    False     False
20     False  False  False   False    False     False
21     False  False  False   False    False     False
22     False  False  False   False    False     False
23     False  False  False   False    False     False
24     False  False  False   False    False     False
25     False  False  False   False    False     False
26     False  False  False   False    False     False
27     False  False  False   False    False     False
28     False  False  False   False    False     False
29     False  False  False   False    False     False
..       ...    ...    ...     ...      ...       ...
931    False  False  False   False    False     False
932    False  False  False   False    False     False
933    False  False  False   False    False     False
934    False  False  False   False    False     False
935    False  False  False   False    False     False
936    False  False  False   False    False     False
937    False  False  False   False    False     False
938    False  False  False   False    False     False
939    False  False  False   False    False     False
940    False  False  False   False    False     False
941    False  False  False   False    False     False
942    False  False  False   False    False     False
943    False  False  False   False    False     False
944    False  False  False   False    False     False
945    False  False  False   False    False     False
946    False  False  False   False    False     False
947    False  False  False   False    False     False
948    False  False  False   False    False     False
949    False  False  False   False    False     False
950    False  False  False   False    False     False
951    False  False  False   False    False     False
952    False  False  False   False    False     False
953    False  False  False   False    False     False
954    False  False  False   False    False     False
955    False  False  False   False    False     False
956    False  False  False   False    False     False
957    False  False  False   False    False     False
958    False  False  False   False    False     False
959    False  False  False   False    False     False
960    False  False  False   False    False     False

[961 rows x 6 columns]

# Decision Tree

# Random Forest

# KNN

# SVM

# Logistic Regression